#root .card {
  padding: 77px 47px 32px;
  position: relative;
  background-image: url("https://www.technodom.kz/under/techno-tinder/frame.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;

  @media (max-width: 700px) {
    border-radius: 24px;
    background-image: linear-gradient(150deg, #DCDCDC 0%, #FFF 58.35%, #E1E1E1 100%);
    box-shadow: 0 14px 16px 0 rgba(187, 0, 0, 0.20);
    padding: 0;
    overflow: hidden;
    display: block;
    align-items: flex-start;
  }

  &_blur {
    filter: blur(10px);
    //opacity: 0.7;
  }

  &__place {
    background-color: #FFF;
    border-radius: 40px;
    overflow: hidden;
    padding: 24px 32px 12px;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 30;
      background-size: contain;
      background-repeat: no-repeat;
      width: 15px;
      height: 21px;

      @media (min-width: 700px) {
        display: none;
      }
    }

    &::before {
      left: 16px;
      background-image: url("https://www.technodom.kz/under/techno-tinder/arrow-back.svg");
    }

    &::after {
      right: 16px;
      background-image: url("https://www.technodom.kz/under/techno-tinder/arrow-next.svg");
    }

    @media (max-width: 700px) {
      border-radius: 24px;
      box-shadow: 0 16px 16px 0 #0000000D;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;

    margin-top: 13px;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    min-height: 58px;

    @media (max-width: 700px) {
      margin: 0;
      padding: 16px 20px 0;
      font-size: 16px;
      min-height: 55px;
      text-align: left;
    }
  }

  &__footer {
    border-radius: 22px;
    background: linear-gradient(345deg, #FA6A3F -12.18%, #FAB805 104.79%);
    box-shadow: 0 7px 14px 0 rgba(90, 90, 90, 0.20);
    padding: 10px 21px;
    margin-top: 10px;

    @media (max-width: 700px) {
      margin: 8px 20px 20px;
      padding: 10px 16px;
    }
  }

  &__wrapper-price {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 4px;
  }

  &__text-price {
    color: #FFF;
    font-size: 16px;
    line-height: 120%;

    @media (max-width: 700px) {

    }
  }

  &__price {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;

    @media (max-width: 700px) {
      font-size: 24px;
    }
  }

  &__old-price {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
    opacity: 0.7;

    @media (max-width: 700px) {
      font-size: 16px;
    }

    span {
      text-decoration: line-through;
    }
  }
}
