#root .tinder {
  width: 1000px;
  height: 638px;
  position: relative;

  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    position: relative;
  }

  &__wrapper-inner-card {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 484px;
    transition: left 0.5s ease-in-out;

    &_absolute {
      animation: slideLeft 0.5s ease-in-out forwards;
    }

    &_default {
      animation: slideDefault 0.5s ease-in-out forwards;
    }
  }

  @keyframes slideLeft {
    from {
      left: 50%;
      transform: translateX(-50%);
    }
    to {
      left: 0;
      transform: translateX(0);
    }
  }

  @keyframes slideDefault {
    from {
      left: 0;
      transform: translateX(0);
    }
    to {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__inner-card {
    height: 100%;
  }

  &__image {
    transition: all 0.3s ease-in-out;
  }

  &__dislike {
    width: 228px;
    height: 160px;

    position: absolute;
    top: 3%;
    left: 0;
    transform: translateX(-60%);
  }

  &__like {
    width: 204px;
    height: 167px;

    position: absolute;
    top: 5%;
    right: 0;
    transform: translateX(60%);
  }
}
